@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

body {
    padding: 0;
    margin: 0;
}

i {
    position: relative;
    color: white;
    font-size: xx-large;
    left: -50px;
    top: -20px;
}

.viewport {
    height: 600px;
    padding: 30px;
}

.viewport:nth-child(odd) {
    background: rgb(0, 180, 242);
    background: linear-gradient(32deg, rgba(0, 180, 242, 1) 0%, rgba(174, 255, 78, 1) 100%);
    height: 340px;
}

.viewport:nth-child(even) {
    background: rgb(224, 4, 75);
    background: linear-gradient(32deg, rgba(224, 4, 75, 1) 0%, rgba(255, 179, 0, 1) 100%);
    height: 740px;
}

.card {
    display: block;
    position: absolute;
    left: 700px;
}