@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}