html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
    background: rgb(238, 238, 238);
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    
}

div.card {
    background: rgb(255, 255, 255);
    width: 300px;
    /* height: 200px; */
    border-radius: 10px;
    box-shadow: 0 0 5px;
    padding: 0 20px;
}