body {
   font-family: Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 900;
}

p, a {
    color: gray;
    font-size: 22px;
}
p::selection {
    background: rgb(190, 255, 227);
}

main {
    width: 1100px;
    margin: 150px auto;
    padding-bottom: 50px;
    border-bottom: solid 1px rgb(199, 199, 199);
}

section {
    display: flex;
}

section article {
    width: 50%;
}

.button-holder {
    text-align: center;
    display: flex;
    align-items: flex-end;
}

section article a {
    background: #039E75;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
    width: 250px;
    height: 37px;
    border-radius: 3px;
    margin-bottom: 20px;
}

article p.heading {
    color: black;
    font-weight: bold;
}

hr {
    width: 40%;
    background-color: rgb(199, 199, 199);
    border: none;
    height: 2px;
    margin-top: 50px;
}




