@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

body {
    text-align: center;
    padding-top: 300px;
    font-size: xx-large;
    color: black;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    list-style: none;
    width: 100px;
}

a {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(184, 184, 184);
}

i {
    vertical-align: middle;
}

a:hover {
    color: blue;
}
