html, body {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: 1em;
}

body {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

body ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body ul li {
    display: flex;
    margin-bottom: 30px;
    border: 5px solid black;
    box-shadow: 0 0 10px;
}

