body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Georgia, serif;
    width: 1000px;
    margin: auto;
    background-color: rgb(238, 238, 238);
}
header {
    border-bottom: solid 3px;
}
header nav {
    display: inline-block;
    float: right;
    padding: 20px;
}
header nav ul {
    display: inline-block;

}
header nav ul li {
    display: inline-block;
    margin-left: 20px;
}
main {
    display: inline-block;
    width: 700px;
}
aside {
    display: inline-block;
    vertical-align: top;
}

h1, h2, h3 {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: 1em;
    
}
a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

img {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.img-first {
    float: right;
}
.img-second {
    float: left;
}

blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    float: right;
    width: 50%;
}